body
{
	color: #DDE8DD;
	background-color: #0A0A0A;
	font-family: sans-serif;
	line-height: 1.25em
}
h1
{
	color: maroon;
	font-size: 3em;
	background-color: #0E0E0E;
	line-height: 1.25em
}
h2
{
	color: maroon;
}
h5
{
	color: maroon;
	font-weight: light;
}
a
{
	color: maroon;
}
nav
{
	background-color: #0E0E0E;
	line-height: 2em;
}
nav li
{
	display: inline;
	padding-right: 40px;
	list-style-type: none;
}
nav a
{
	text-decoration: none;
}
.floaty
{
	float: left;
	clear: left;
	margin: 20 px;
	padding: 20 px;
	border-style: solid;
}