body
{
	color: #DDE8DD;
	background-color: #0A0A0A;
	font-family: sans-serif;
}
h1
{
	color: maroon;
	font-size: 3em;
}
h2
{
	color: maroon;
}
h5
{
	color: maroon;
	font-weight: light;
}
a
{
	color: maroon;
}
p
{
	
}